In [6]:
#Task 1
import pandas as pd

# Read the two Excel files into Pandas DataFrames
df1 = pd.read_excel("RESULT1.xlsx")
df2 = pd.read_excel("RESULT2.xlsx")

# Merge the two DataFrames
df_merged = pd.concat([df1, df2])

# Reindex the merged DataFrame
df_merged.reset_index(drop=True, inplace=True)

# Print the merged DataFrame
print(df_merged)

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
0     1     CE  RAMESH    210          70         1
1     2     CE  SURESH    150          50         1
2     3     IT  MAHESH    225          75         1
3     4     IT  NARESH    180          60         1
4     5     CE  JAYESH     90          30         0
5     1     EC   RATAN    150          50         1
6     2     CE   JATAN    270          90         1
7     3     IT  KATHAN    285          95         1
8     4     EC   NAYAN    195          65         1
9     5     IT   RAMAN    165          55         1

In [7]:
# Task 2
# Sort the merged dataframe by the 'TOTAL' column in descending order
sorted_data = all_data.sort_values(by='TOTAL', ascending=False)

# Print the sorted dataframe
print(sorted_data)

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
7     3     IT  KATHAN    285          95         1
6     2     CE   JATAN    270          90         1
2     3     IT  MAHESH    225          75         1
0     1     CE  RAMESH    210          70         1
8     4     EC   NAYAN    195          65         1
3     4     IT  NARESH    180          60         1
9     5     IT   RAMAN    165          55         1
1     2     CE  SURESH    150          50         1
5     1     EC   RATAN    150          50         1
4     5     CE  JAYESH     90          30         0

In [8]:
#Task 3

toppers = df_merged.head(3)
print(toppers)

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
0     1     CE  RAMESH    210          70         1
1     2     CE  SURESH    150          50         1
2     3     IT  MAHESH    225          75         1

In [9]:
#Task 4

bottom = df_merged.tail(3)
print(bottom)

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
7     3     IT  KATHAN    285          95         1
8     4     EC   NAYAN    195          65         1
9     5     IT   RAMAN    165          55         1

In [10]:
# Task 5

filtered_data = df_merged[df_merged['TOTAL'] > 200]
print(filtered_data)

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
0     1     CE  RAMESH    210          70         1
2     3     IT  MAHESH    225          75         1
6     2     CE   JATAN    270          90         1
7     3     IT  KATHAN    285          95         1

In [11]:
# Task 6  Print name of the student with highest total

student_with_highest_total = df_merged[df_merged['TOTAL'] == df_merged['TOTAL'].max()]['NAME'].values[0]
print(f"Student with highest total: {student_with_highest_total}")

Student with highest total: KATHAN

In [13]:
# Task 7  Allow user to insert name of student, print total of that student. If student not available print student not found.

def find_student_total(student_name):
  try:
    student_total = df_merged[df_merged['NAME'] == student_name]['TOTAL'].values[0]
    return student_total
  except IndexError:
    return "Student not found."

# Get the student name from the user
student_name = input("Enter the name of the student: ")

# Find the student's total
student_total = find_student_total(student_name)

# Print the student's total or a message if the student is not found
print(student_total)

Enter the name of the student: NARESH
180

In [14]:
# Task 8 Print average of total of all students.

average_total = df_merged['TOTAL'].mean()
print(f"Average total: {average_total}")

Average total: 192.0

In [15]:
# Task 9 Print all data in alphabetical order of student name.

sorted_by_name = df_merged.sort_values(by='NAME', ascending=True)
print(sorted_by_name)

   SRNO BRANCH    NAME  TOTAL  PERCENTAGE  PASSFAIL
6     2     CE   JATAN    270          90         1
4     5     CE  JAYESH     90          30         0
7     3     IT  KATHAN    285          95         1
2     3     IT  MAHESH    225          75         1
3     4     IT  NARESH    180          60         1
8     4     EC   NAYAN    195          65         1
9     5     IT   RAMAN    165          55         1
0     1     CE  RAMESH    210          70         1
5     1     EC   RATAN    150          50         1
1     2     CE  SURESH    150          50         1

In [16]:
# Task 10 Add a new column of percentage (total marks are 300) and display percentage of all students. Save this result as finalresult.csv

# Calculate the percentage for each student
df_merged['PERCENTAGE'] = (df_merged['TOTAL'] / 300) * 100

# Save the result as a CSV file
df_merged.to_csv('finalresult.csv', index=False)

# Display the percentage of all students
print(df_merged['PERCENTAGE'])

0    70.0
1    50.0
2    75.0
3    60.0
4    30.0
5    50.0
6    90.0
7    95.0
8    65.0
9    55.0
Name: PERCENTAGE, dtype: float64